.frame_shared {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
    background: #f5f5dc9c;
    color: #00000099;
    border: #d2a71375 solid 4px;
    cursor: pointer;
    transition: color 2s ease-out,
        border 2s ease-out;
}

.frame_shared:hover {
    color: #000;
    background: #f5f5dc9c;
    border-color: #d2a713cc;
}
