.wrapper {
    background: url('images/background.png') no-repeat center center fixed;
    background-size: cover;
    background-position: bottom;
    margin: 0 auto;
    /* max-width: 1280px; */
    display: grid;
    grid-template-columns: 3fr 3fr 200px;
    grid-template-areas:
        "screen sofa bookshelf"
}

nav.main-menu, section.screen, section.sofa-table {
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
}

nav.main-menu {
    background-image: url('images/bookshelf.png');
    background-position: bottom right;
    grid-area: bookshelf;
}

section.screen {
    background: url('images/blind.png') no-repeat;
    background-position: bottom left;
    grid-area: screen;
}

section.sofa-table {
    background: url('images/sofa.png') no-repeat;
    grid-area: sofa;
    background-position: bottom center;
}
