section.left-bar {
    background-image: url('../../../images/blind.png');
    background-position: bottom left;
    grid-area: screen;
    background-size: 40vmin;
}

@media (max-width: 1280px) {
    section.left-bar {
        background-size: 35vmin;
    }
}

@media (max-width: 720px) {
    section.left-bar {
        background-size: 25vmin;
    }
}
